

<nav class="nav flex-column list-group-item" id="menu" >
  <a class="nav-link active" [routerLink]="['proveedores']">Proveedores</a>
  <a class="nav-link" [routerLink]="['laboratorio']">Laboratorio</a>
  <a class="nav-link" [routerLink]="['medicamentos']">Medicamentos</a>
  <a class="nav-link" href="#">Usuarios</a>
</nav>
