<div class="card">
  <div class=" col-md-12  card card-inverse card-primary">
    <blockquote class="card-blockquote">
      <h4>{{title}}</h4>
    </blockquote>
  </div>
  <br><br>
  <div class="col-md-3">
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header card-primary">
        <h4 class="modal-title">Formulario {{title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
      </div>
      <div class="modal-body">

        <form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate>
          <div>
            <div class="form-group row " [ngClass]="{'has-danger':(nombre.errors?.minlength || nombre.errors?.required)&& nombre.touched}">
              <label class="col-2 col-form-label">Nombre</label>
              <div class="col-8">
                <input class="form-control" type="text" placeholder="Nombre" name="nombre" minlength="3" [(ngModel)]="usuario.nombre" required #nombre="ngModel">
                <div *ngIf="nombre.errors?.required" class="form-control-feedback">
                  Este Campo es Requerido
                </div>
                <div *ngIf="nombre.errors?.minlength" class="form-control-feedback">
                  por lo menos {{nombre.errors.minlength.requiredLength }} caracteres.
                </div>
              </div>
            </div>


            <div class="form-group row">
              <label class="col-2 col-form-label">Apellido</label>
              <div class="col-8">

                <input class="form-control" type="text" placeholder="Apellido" name="apellido" minlength="5" [(ngModel)]="usuario.apellido" required #apellido="ngModel">
                <div *ngIf="apellido.errors?.required">
                  Este campo es requerido
                </div>
                <div *ngIf="apellido.errors?.minlength">
                  Minimo {{apellido.errors.minlength.requiredLength}} Caracteres.
                </div>
              </div>
            </div>

          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label">Correo</label>
            <div class="col-md-8">

              <input class="form-control" type="email" placeholder="Correo electronico" name="correo" [(ngModel)]="usuario.correo" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #correo="ngModel">
              <div *ngIf="correo.errors?.required">
                Este CAmpo es Obligatorio
              </div>
              <div *ngIf="correo.errors?.pattern">
                ejemplo@ejemplo.com
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label">Pais</label>
            <div class="col-8">
              <select  [(ngModel)]="usuario.pais"
              class="form-control" name="pais">
              <option value="">Seleccione un pais</option>
              <option *ngFor="let pais of paises"
              [value]="pais.codigo">{{pais.nombre}}</option>
              </select>
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" [disabled]="!forma.valid" class="btn btn-outline-primary btn-block">Guardar</button>
            <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cancelar</button>
          </div>
          <pre>{{usuario|json}}</pre>
        </form>
      </div>
    </ng-template>

    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Nuevo</button>

    <hr>

    <pre>{{closeResult}}</pre>
  </div>

  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>N°</th>
          <th>Nombre</th>
          <th>RUC</th>
          <th>Creado Por</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">2</th>
          <td>{{usuario.nombre}}</td>
          <td>{{usuario.apellido}}</td>
          <td>{{usuario.pais}}</td>
        </tr>

      </tbody>
    </table>
  </div>
  <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
</div>
