<div class="card">
  <div class=" col-md-12  card card-inverse card-primary">
    <blockquote class="card-blockquote">
    <h4>{{title}}</h4>
    </blockquote>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>

  </ul>
</div>
