<div class="row">
  <div class="col-md-1" style="background:red;">
    1
  </div>
  <div class="col-md-1" style="background:blue;">
    2
  </div>
  <div class="col-md-1" style="background:red;">
    3
  </div>
  <div class="col-md-1" style="background:blue;">
    4
  </div>
  <div class="col-md-1" style="background:red;">
    5
  </div>
  <div class="col-md-1" style="background:blue;">
    6
  </div>
  <div class="col-md-1" style="background:red;">
    7
  </div>
  <div class="col-md-1" style="background:blue;">
    8
  </div>
  <div class="col-md-1" style="background:red;">
    9
  </div>
  <div class="col-md-1" style="background:blue;">
    10
  </div>
  <div class="col-md-1" style="background:red;">
    11
  </div>
  <div class="col-md-1" style="background:blue;">
    12
  </div>
</div>
<br>
<div class="row container-fluit">
  <div class="col-md-3" style="background:yellow;">
    123
  </div>
  <div class="col-md-1" style="background:blue;">
    4
  </div>
  <div class="col-md-1" style="background:red;">
    5
  </div>
  <div class="col-md-1" style="background:blue;">
    6
  </div>
  <div class="col-md-1" style="background:red;">
    7
  </div>
  <div class="col-md-1" style="background:blue;">
    8
  </div>
  <div class="col-md-1" style="background:red;">
    9
  </div>
  <div class="col-md-1" style="background:blue;">
    10
  </div>
  <div class="col-md-1" style="background:red;">
    11
  </div>
  <div class="col-md-1" style="background:blue;">
    12
  </div>
</div>
