<app-navbar></app-navbar>
<div class="row">
  <div class="col-md-2">
      <app-menu></app-menu>
  </div>
  <div class="col-md-9 container menu-container">
    <router-outlet></router-outlet>
  </div>
</div>
