<div class="card">
  <div class=" col-md-12  card card-inverse card-primary">
    <blockquote class="card-blockquote">
      <h4>{{title}}</h4>
    </blockquote>
  </div>
  <hr>
  <form #frm="ngForm" (ngSubmit)="guardar(frm)">

    <div class="row">

      <div class="form-group col-4 ">
        <label for="">Nombre</label>
        <input type="text"
        class="form-control"
         placeholder="Nombre"
         name="nombre"
         ngModel
         #nombreMed="ngModel"
         required
         maxlength="10"
         minlength="5"
         pattern="[a-zA-Z][a-zA-Z ]+"
         >
         <div *ngIf="nombreMed?.touched"
          class="alert alert-danger">
          <div *ngIf="nombreMed.errors?.required">
            Campo Requerido
          </div>
          <div [hidden]="!nombreMed?.hasError('minlength')">
            Contacto Invalid.
          </div>
         </div>
      </div>

      <div class="form-group col-4 ">
        <label for="">Laboratorio</label>
        <input type="text"
        class="form-control"
        placeholder="Laboratorio"
        name="laboratorio"
        ngModel
        #laboratorio="ngModel"
        required
        pattern="[a-zA-Z][a-zA-Z ]+"
        >
        <div *ngIf="laboratorio.touched"
         class="alert alert-danger">
         <div *ngIf="laboratorio.errors?.required">
           Campo Requerido
         </div>
         <div *ngIf="laboratorio.errors?.pattern">
           Contacto Invalid.
         </div>
        </div>
      </div>

      <div class="form-group col-3 ">
        <label for="">Alert</label>
        <input type="number"
        class="form-control"
        placeholder="60"
        name="alert"
        ngModel
        #alert="ngModel"
        required
        pattern="[0-9]*">
        <div *ngIf="alert.touched"
         class="alert alert-danger">
         <div *ngIf="alert.errors?.required">
           Campo Requerido
         </div>
         <div *ngIf="alert.errors?.pattern">
           Contacto Invalid.
         </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="form-group col-4 ">
        <label for="">Presentacion Unitaria</label>
        <input type="text"
        class="form-control"
        placeholder="Presentacion Unitaria"
        name="presentacionUni"
        ngModel
        #presentacionUni="ngModel"
        required
        pattern="[a-zA-Z][a-zA-Z ]+"
        >
        <div *ngIf="presentacionUni.touched"
         class="alert alert-danger">
         <div *ngIf="presentacionUni.errors?.required">
           Campo Requerido
         </div>
         <div *ngIf="presentacionUni.errors?.pattern">
           Contacto Invalid.
         </div>
        </div>
      </div>

      <div class="form-group col-4 ">
        <label for="">Presentacion</label>
        <input type="text" class="form-control"
        placeholder="Caja"
        name="presentacion"
        ngModel
        #presentacion="ngModel"
        required
        pattern="[a-zA-Z][a-zA-Z ]+"
        >
        <div *ngIf="presentacion.touched"
         class="alert alert-danger">
         <div *ngIf="presentacion.errors?.required">
           Campo Requerido
         </div>
         <div *ngIf="presentacion.errors?.pattern">
           Contacto Invalid.
         </div>
        </div>
      </div>

      <div class="form-group col-3 ">
        <label for="">Cantidad</label>
        <input type="number" class="form-control"
        placeholder="1"
        name="cantidad"
        ngModel
        #cantidad="ngModel"
        required
        pattern="[0-9]*">
        <div *ngIf="cantidad.touched"
         class="alert alert-danger">
         <div *ngIf="cantidad.errors?.required">
           Campo Requerido
         </div>
         <div *ngIf="cantidad.errors?.pattern">
           Contacto Invalid.
         </div>
        </div>
      </div>
      <div class="form-group col-4 ">
        <label for="">Codigo Barra</label>
        <input type="number" class="form-control"
        placeholder="Codigo de Barra"
        name="cadigoBarra"
        ngModel
        #codigoBarra="ngModel"
        required
        pattern="[0-9]*">
        <div *ngIf="codigoBarra.touched"
         class="alert alert-danger">
         <div *ngIf="codigoBarra.errors?.required">
           Campo Requerido
         </div>
         <div *ngIf="codigoBarra.errors?.pattern">
           Contacto Invalid.
         </div>
        </div>
      </div>
    </div>
    {{frm.value | json}}
    <div class="row">
      <div class="form-group col-6">
        <button type="submit"
        class="btn btn-success btn btn-block"
        name="button" [disabled]="!frm.valid">Guardar</button>
      </div>
      <div class="form-group col-6">
        <button type="button" class="btn btn-warning btn btn-block">Cancelar</button>
      </div>
    </div>
  </form>
</div>

<ul class="list-group">
  <li *ngFor="let medicamento of medicamentoList" class="list-group-item">
    {{medicamento.nombre}} 
  </li>
</ul>
