<nav class="navbar navbar-toggleable-md navbar-inverse " style="background-color: #6ed4fa;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Angle</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Empresa </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Inventario</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Ventas</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Compras</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Seguridad</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Locaciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #6ed4fa;">
          <a class="dropdown-item " href="#">Almacen</a>
          <a class="dropdown-item" href="#">Clinica</a>
          <a class="dropdown-item" href="#">Derma Center</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
