<div class="page-header bg-secondary text-auto d-flex flex-column justify-content-between px-6 pt-4 pb-0">

  <div class="row no-gutters align-items-start justify-content-between flex-nowrap">

    <div>
      <span class="h2">Welcome back, WDS!</span>
    </div>

    <button type="button" class="sidebar-toggle-button btn btn-icon d-block d-xl-none" data-fuse-bar-toggle="dashboard-project-sidebar" aria-label="Toggle sidebar">
                        <i class="icon icon-menu"></i>
                    </button>
  </div>

  <div class="row no-gutters align-items-center project-selection">

    <div class="selected-project h6 px-4 py-2">Well Done Solution</div>

    <div class="project-selector">
      <button type="button" class="btn btn-icon">
                            <i class="icon icon-dots-horizontal"></i>
                        </button>
    </div>

  </div>

</div>
